{% load bootstrap4 %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <title>Learning Log</title>


        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <a class="navbar-brand text-danger" style="font-size: 1.5rem; font-weight: 600;" href="{% url 'learning_logs:index'%}">
            Learning Log</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'learning_logs:topics'%}">
                            Topics</a></li>
                </ul>
                <ul class="navbar-nav ml-auto" style="display: flex; align-items: center;">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class=" navbar-text"}" style="text-transform: capitalize; font-size: 1.2rem; font-weight: 400; color: rgb(59, 58, 58);"> <span class="text-danger" style="font-weight: 400; font-size: 1.4rem; font-style: italic;">Hello, </span>{{ user.username }}.</span>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="post" class="d-flex align-items-center">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger ml-3" type="submit">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" style="font-size: 1.3rem; font-weight: 600;" href="{% url 'users:login' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>