{% extends "learning_logs/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block page_header %}
        <h1 class="text-primary" style="font-weight: 500; font-size: 2rem; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Topics</h1>
    {% endblock page_header %}
    
    
    {% block content %}
        <ul>
            {% for topic in topics %}
                <a style="color: black; background-color: rgb(219, 46, 46); font-weight: 400; font-size: 1.2rem;" href="{% url 'learning_logs:topic' topic.id %}">
                    <div style="width: 100%; margin-top: 10px; height: 100%; background-color: rgb(241, 236, 236); padding: 10px; border-radius: 7px; list-style: none;">
                        <li>
                                {{ topic }}
                        </li>
                    </div>
                </a>
            {% empty %}
                <li><h3 style="font-weight: 300; font-size: 1.2rem;">No topics have been added yet.</h3></li>
            {% endfor %}
            <h3 style="display: flex; justify-content: center; align-items: center; margin-top: 2rem; font-weight: 700; font-size: 1.2rem; text-transform: capitalize;"><a class="text-danger" href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>
        </ul>
    {% endblock content %}
</body>
</html>

