{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block page_header %}
        <h3>{{ topic }}</h3>
    {% endblock page_header %}
    
    {% block content %}
        <p>
            <a style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
        </p>
    
    
    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header" style="display: flex; align-items: center; justify-content: space-between; font-size: 1.2rem;">
                {{ entry.date_added|date:'M d, Y H:i' }}
                <small><a style="font-size: 1rem; color: rgb(85, 134, 37);" href="{% url 'learning_logs:edit_entry' entry.id %}">
                    edit entry</a></small>
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
        {% empty %}
            <p>There are no entries for this topic yet.</p>
        {% endfor %}
    {% endblock content %}
</body>
</html>